<h1>Add New Book</h1>
<%= form_with model: @book, local: true do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  
  <p>
    <%= form.label :author %>
    <%= form.text_field :author %>
  </p>
  
  <p>
    <%= form.label :isbn %>
    <%= form.text_field :isbn %>
  </p>

  <p>
    <%= form.label :published_at %>
    <%= form.date_select :published_at %>
  </p>

  <p>
    <%= form.submit "Add Book" %>
  </p>
<% end %>

<%= link_to 'Back to List', books_path %>
