<h1><%= @book.title %></h1>
<p><strong>Author:</strong> <%= @book.author %></p>
<p><strong>ISBN:</strong> <%= @book.isbn %></p>
<p><strong>Published Date:</strong> <%= @book.published_at %></p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back to List', books_path %>
